<div class="row">
  <div class="col-md-3">
    <%= image_tag "http://via.placeholder.com/80x60" %>
  </div>
  <div class="col-md-7 movie-name">
    <h4 class="title"><%= movie.name %></h4>
  </div>
  <div class="col-md-2 movie-rate text-center">
    <h4><%= movie.rate %></h4>
    <h6><%= t ".rated" %></h6>
  </div>
</div>
