<div class="row">
  <div class="col-md-2">
    <%= image_tag movie.thumbnail, class: "show-movie-item-thumbnail" %>
  </div>
  <div class="col-md-8 movie-name">
    <h4 class="title"><%= movie.name %></h4>
  </div>
  <div class="col-md-2 movie-rate text-center">
    <h4><%= movie.rate %></h4>
    <h6><%= t ".rated" %></h6>
  </div>
</div>
