# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 4059f59aefe61f5acdc99f0c07912a4b6bb77b2796f4489878685fcda57c4e09e228bf4ebd432f5305fe5a62cdf29387606f09137acc52c9d3632987f9ba3234

test:
  secret_key_base: c9ffb02bd90c7219bb07becc44ae4ca8b15f06cb5798b4676b5fab7126b4db0fe45e21dd3bf2df5e8d24ac8bc10ec49258bc2e2e7c0040a99fed88862fb168a8

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
