@import 'material-design-color';
@import 'custom_color';

.navbar-default .navbar-brand {
  color: $orange-600;

  &:hover,
  &:focus {
    background-color: $grey-800;
    color: $blue-grey-50;
  }
}

.footer {
  background-color: $grey-900;
  color: $blue-grey-50;
  margin-top: 20px;
  text-align: center;

  .footer-copyright {
    background-color: $grey-800;
    padding: 3px;

    p {
      color: $red-50;
      margin: 10px;
    }
  }

  .connect > a {
    color: $grey-50;
    font-size: 32px;
    padding: 25px;
  }

  ul {
    line-height: 1.7;
    list-style-type: none;
    padding-left: 0;
  }

  h5 {
    color: $yellow-50;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
  }

  a {
    color: $grey-200;
    text-decoration: none;
  }
}

.form-sidebar {
  margin-top: 30px;
}

.sidebar-movie-items {
  margin-left: 20px;
  margin-top: 30px;
}

.login-modal {
  background-color: $transparent-black;
}

.login-wrapper {
  margin: auto;
  max-width: 520px;
  width: 80%;
}

.login-header {
  font-size: 21px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li {
    float: left;
  }

  .login-separator {
    color: $grey-500;
    margin: 0 5px;
  }

  a {
    color: $grey-700;
  }

  .active {
    color: $orange-600;
  }
}

.signup-errors {
  color: $red-400;
  margin: 0;
  padding-top: 3px;
}

.signin-error {
  margin-bottom: 0;
  margin-top: 10px;
}

.signin-helper-links {
  margin-left: 15px;
}

.no-display {
  display: none;
}
