@import 'material-design-color';
@import 'custom_color';

.navbar-default .navbar-brand {
  color: $orange-600;

  &:hover,
  &:focus {
    background-color: $grey-800;
    color: $blue-grey-50;
  }
}

.footer {
  background-color: $grey-900;
  color: $blue-grey-50;
  margin-top: 20px;
  text-align: center;

  .footer-copyright {
    background-color: $grey-800;
    padding: 3px;

    p {
      color: $red-50;
      margin: 10px;
    }
  }

  .connect > a {
    color: $grey-50;
    font-size: 32px;
    padding: 25px;
  }

  ul {
    line-height: 1.7;
    list-style-type: none;
    padding-left: 0;
  }

  h5 {
    color: $yellow-50;
    font-size: 18px;
    font-weight: bold;
    margin-top: 30px;
  }

  a {
    color: $grey-200;
    text-decoration: none;
  }
}
// footer

// index
.image-slider {
  padding-bottom: 20px;

  img {
    height: auto;
    width: 100%;
  }

  .image-container {
    display: inline-block;
    position: relative;
  }

  .float-right {
    height: 30%;
    margin: -15% 0 0 -25%;
    position: absolute;
    right: 2%;
    top: 50%;
    width: 25%;

    .form-group {
      margin-bottom: 10px;
    }
  }
}

.link-no-decoration {
  &:hover,
  &:visited,
  &:link {
    text-decoration: none;
  }
}

.movie-thumbnail {
  display: table;
  position: relative;

  .overlay {
    background-color: $transparent-black;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    top: 0;
    transition: all 500ms;
    width: 100%;

    &:hover {
      opacity: 1;
    }

    .movie-description {
      color: $grey-50;
      font-size: 15px;
      height: 80%;
      left: 0;
      overflow: hidden;
      padding: 10px 20px;
      top: 0;
    }

    .ticket-button {
      bottom: 2%;
      left: 0;
      position: absolute;
      text-align: center;
      width: 100%;
    }
  }
}

.movie-item {
  img {
    height: auto;
    width: 100%;
  }

  .movie-title {
    .title,
    .vietnamese-title {
      margin-left: 5px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}

.article-image {
  padding-top: 10px;

  img {
    height: auto;
    width: 100%;
  }
}

.link-btn {
  background-color: $amber-900;
  color: $grey-50;
  display: inline-block;
  padding: 10px 25px;
  text-align: center;
  text-decoration: none;

  &:visited,
  &:link {
    text-decoration: none;
  }

  &:hover {
    background-color: $orange-900;
    color: $grey-900;
    text-decoration: none;
  }
}
// index

// sidebar
.form-sidebar {
  margin-top: 30px;
}

.sidebar-movie-items {
  margin-left: 20px;
  margin-top: 30px;
}
// sidebar

// login form
.login-modal {
  background-color: $transparent-black;
}

.login-wrapper {
  margin: auto;
  max-width: 520px;
  width: 80%;
}

.login-header {
  font-size: 21px;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding: 0;

  li {
    float: left;
  }

  .login-separator {
    color: $grey-500;
    margin: 0 5px;
  }

  a {
    color: $grey-700;
  }

  .active {
    color: $orange-600;
  }
}

.signup-errors {
  color: $red-400;
  margin: 0;
  padding-top: 3px;
}

.signin-errors {
  margin-top: 10px;
}

.signin-helper-links {
  margin-left: 15px;
}

.devise-submit {
  margin: 10px 0 20px;
}

.edit-form {
  padding: 0 50px 0 20px;
}
