@import 'material-design-color';

.movie-image img {
  height: auto;
  margin-top: 20px;
  width: 100%;
}

.movie-details {
  div {
    margin-top: 10px;
  }

  .movie-rate {
    background-color: $orange-800;
    color: $grey-50;
    margin-left: 15px;
    padding: 5px 10px;
  }

  .movie-length {
    font-size: 16px;

    .fa {
      font-size: 16px;
      height: 20px;
      width: 20px;
    }
  }

  .facebook-buttons {
    margin-top: 30px;
  }
}

.movie-description {
  margin-top: 30px;
  padding-left: 15px;

  .title {
    border-bottom: 3px solid $orange-700;
  }

  .description {
    margin-top: 20px;
  }
}

.movie-index-item {
  margin-bottom: 20px;

  .col-xs-3 {
    padding-left: 0;
  }

  .movie-title {
    height: 50px;
  }

  .movie-rate {
    margin-bottom: 0;
  }

  .rated-text {
    margin-top: 0;
  }
}

.movie-index {
  .movie-index-tab-control {
    border-bottom: 1px solid $grey-200;
    display: block;
    list-style: none;
    overflow: hidden;
    padding-left: 10px;

    .active {
      color: $orange-800;
    }
  }

  .movie-index-tab {
    cursor: pointer;
    float: left;
    font-size: 18px;
    padding: 10px 20px;
    text-transform: capitalize;
  }

  .movie-index-thumbnail {
    max-height: 360px;
    width: 280px;
  }
}

.coming-movies {
  display: none;
}

.movie-info {
  font-size: 16px;
}
