@import 'material-design-color';

.show-index {
  .title {
    border-bottom: 1px solid $orange-700;
    padding: 10px 0;
  }
}

.panel {
  margin-top: 30px;

  .panel-title {
    background-color: $orange-800;
    color: $grey-50;
    padding: 15px 0;
  }

  .order-list {
    list-style: none;
    padding: 0;

  }

  .list-row {
    border: 0;
    margin: 0;
    padding: 0;
  }

  .movie-item {
    cursor: pointer;

    .title {
      font-size: 18px;
    }
  }

  .movie-rate {
    h4 {
      margin-bottom: 0;
    }

    h6 {
      margin-top: 0;
    }
  }

  .theater-item {
    cursor: pointer;
    font-size: 16px;
    padding: 10px;
  }

  .show-item {
    border: 1px solid $orange-800;
    cursor: pointer;
    font-size: 16px;
    margin-bottom: 10px;
    padding: 5px 10px;
  }

  .show-time {
    margin-left: 30px;
    margin-right: 10px;
  }

  .hover-item {
    &:hover {
      background-color: $grey-100;
    }
  }

  .selected {
    background-color: $grey-200;
    color: $orange-800;
  }
}

.movie-panel {
  div {
    margin: 0;
    padding: 0;
  }
}
